.txtmain{
	font-size: 12px;
	color: #e58f0e;
	font-family: cursive;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/*  1.cursive 2.garamond */

.flex-center {
	background-color: #222;
	color: #fff;
	border-radius: 20px;
	border-color: rgba(255, 20, 57, 0.5) rgba(255, 20, 57, 0.4) rgba(255, 20, 57, 0.5) rgba(255, 20, 57, 0.4);
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 34px;
	max-width: 180px;
	position: absolute;
	top: calc(10% - 18px);
	left: 0;
	right: 0;
	margin: 0 auto;
}

.boxtextmain {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	max-width: 180px;
	height: 34px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: calc(33% - 17px);
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
